<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Patinhas</title>
</head>
<body>
    <h1><pre>                  Patinhas - Banho e Tosa, foi fundada em julho de 2023 .
            Com o intuito de agregar no mercado pet e tratar os seus animalzinhoscom muito amor e carinho. 
 Administrada por duas microempresárias, Eduarda e Carol apaixonadas por animais e estudantes da área de medicina veterinária         
O nosso maior objetivo é trazer um excelente trabalho e tratar o seu pet com muito amor e carinho, pois é isso que eles merecem.</pre></h1>
    
</body>
</html>